<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>
<body>

<th:block >
    <th:block th:fragment="content">

        <div class="container">
            <div class="col-6">
                <h1 id="nowstatus">상대방을 기다리는중....</h1>
                <div th:if="${room.secondUser}==null" th:text="|남은 목숨 : ${room.firstUserLife}|"></div>
                <div th:if="${room.secondUser}!=null" th:text="|남은 목숨 : ${room.secondUserLife}|"></div>
            </div>
            <div>
                <div id="msgArea" class="col"></div>
                <div class="col-6">
                    <div class="input-group mb-3">
                        <input type="text" id="msg" class="form-control">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" type="button" id="button-send">전송</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6"></div>
        </div>




    </th:block>
</th:block>


<script src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
<script th:inline="javascript">
    $(document).ready(function(){
        var beforeMessage ='';
        var roomid = [[${room.roomNum}]];
        console.log(roomid);
        var sockJs = new SockJS("/stomp/chat");
        var stomp = Stomp.over(sockJs);

        stomp.connect({},function(){
            var user = '';
            var isStart = [[${room.roomFlag}]]
            console.log("stomp connection!");


            stomp.subscribe("/sub/chat/room/statuschange/"+roomid, function(){
                if(user == 1){
                    $('#msg').removeAttr("disabled");
                    $('#button-send').show();
                }
                console.log("가자!!!!!!!!!!!!!!!");
                $('#nowstatus').text("게임 스타트!");
            })


            stomp.subscribe("/sub/chat/room/"+roomid, function(chat){
                console.log(chat);
                const content = JSON.parse(chat.body);
                const flag = content.success;
                if(flag){
                    if($('#msg').is(":disabled")){
                        console.log("안보이다가 보여야됨");
                        $('#msg').removeAttr("disabled");
                        $('#button-send').css("display","block");
                    }else{
                        console.log("보이다가 안보여야됨")
                        $('#msg').attr("disabled", true);
                        $('#button-send').css("display","none");
                    }
                    beforeMessage = content.responseOBJ.dicResult.word;
                    console.log("content : "+beforeMessage);
                    $('#msgArea').append(beforeMessage +"<br>");
                    $('#nowstatus').text("단어 : "+content.responseOBJ.dicResult.word);
                    $('#nowstatus').append("<br> 품사 : "+content.responseOBJ.dicResult.position);
                    $('#nowstatus').append("<br> 정의 : "+content.responseOBJ.dicResult.definition);

                }else{
                    $('#nowstatus').text(content.errorContent);
                    $('#msgArea').append("<span style='color: red'>"+content.responseOBJ.dicResult.word +"<br></span>");
                }


            })


            if(isStart === 0){
                user = '2';
                stomp.send('/pub/chat/room/statuschange/'+roomid,{},JSON.stringify({tmp:"tmp"}));
                $('#msg').attr("disabled", true);
                $('#button-send').hide();
            }else{
                $('#msg').attr("disabled", true);
                $('#button-send').hide();
                user = '1';
            }
        });

        $('#button-send').on('click',function(e){
            let msg = document.getElementById("msg");
            console.log(msg);
            stomp.send('/pub/chat/message/'+roomid, {}, JSON.stringify({nowWord : msg.value, beforeWord:beforeMessage, roomNum:roomid}));
            msg.value = null;
            msg = '';
        });
    });
</script>
</body>
</html>